.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-page__form {
    border: 0.1rem solid #3d4957;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}
.auth-page__input {
    margin: 10px auto;
    width: 300px;
}
/* .auth-page__button {
} */
